@rendermode InteractiveServer

<header>
    <div class="grid grid-cols-3 p-10 items-center">
        <TailBlazorHeroIcon Icon="HeroIcon.Adjustments" IconStyle="IconStyle.Solid" />
        <NavLink >
            Todo Blazor Tailwind
        </NavLink>
        <div class="flex items-center justify-end space-x-2">
            <DarkModeButton   />
            <span>Subsribe</span>
        </div>
    </div>
</header>

@code {
     
}
