@inject AppTheme theme

<main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-10 gap-10">

    @foreach (var todo in TodoItems) {
        <TodoItem Todo="todo" />
    }
</main>



@code {
    [Parameter]
    public List<Todos> TodoItems { get; set; } = new List<Todos>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            theme.IsDarkMode = await theme.IsBrowserDarkMode();
            StateHasChanged();
        }
    }
}
