
<main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-10 gap-10">

    @foreach (var todo in _todoItems) {
        <Todo TodoItem="todo" />
    }
</main>



@code {
    private List<TodoItem> _todoItems { get; set; } = new List<TodoItem>();

    protected override async Task OnInitializedAsync()
    {

        await Task.Run(() =>
        {
            _todoItems.Add(new TodoItem { Title = "First", DueDate = DateTime.Now.AddDays(7) });
            _todoItems.Add(new TodoItem { Title = "Second", DueDate = DateTime.Now.AddDays(7), IsComplete = true});
        });
    }


}
