
<article class="bg-slate-100 dark:bg-slate-800 flex flex-col rounded-lg shadow-sm hover:scale-105 hover:shadow-xl hover:bg-slate-200 transition-all duration-200 ease-out">

    <div class="flex-1 flex flex-col">
        <div class="flex-1 flex flex-col p-5">
            <h2 class="font-bold font-serif">@Description</h2>
        </div>
    </div>

</article>
@code {

    [Parameter]
    public string Description { get; set; }
}
